venv/
__pycache__
*.egg-info
*.DS_Store
.idea/
.vscode/
checkpoints/*.pth
checkpoints/*.vocab
checkpoints/*.model
checkpoints/.cache
outputs/
build/
*.py[cod]
*.egg-info/
.venv
prompts/
webui/config.json
checkpoints/1.0/*.pth
checkpoints/1.0/*.vocab
checkpoints/1.0/*.model
checkpoints/1.0/.cache
checkpoints/1.5/*.pth
checkpoints/1.5/*.vocab
checkpoints/1.5/*.model
checkpoints/1.5/.cache